

/* Move down content because we have a fixed navbar that is 50px tall */

body
{
    padding-top: 0px;
    padding-bottom: 20px;
}

.dashboarditem
{
    background-color: #c1a8a8;
    padding: 10px;
}

.control-label-cust-style
{
    margin-left: -25px;
}

.input-style
{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 300px;
}

.input-sub-style
{
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 300px;
}
.input-sub-style2
{
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 400px;
}

.input-notes-style
{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 600px;
}

.big-checkbox
{
    width: 30px;
    height: 30px;
}

.page-title
{
    margin-left: -50px;
    font-weight: bold;
    text-decoration: underline;
}

